<?xml version="1.0"?>
<config>
    <modules>
        <RedboxDigital_Linkedin>
            <version>0.1.0</version>
        </RedboxDigital_Linkedin>
    </modules>
    <frontend>
        <routers>
            <linkedin>
                <use>standard</use>
                <args>
                    <module>RedboxDigital_Linkedin</module>
                    <frontName>redbox_linkedin</frontName>
                </args>
            </linkedin>
        </routers>
        <layout>
            <updates>
                <linkedin>
                    <file>redbox_linkedin.xml</file>
                </linkedin>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <linkedin>
                <class>RedboxDigital_Linkedin_Helper</class>
            </linkedin>
        </helpers>
        <models>
            <linkedin>
                <class>RedboxDigital_Linkedin_Model</class>
                <resourceModel>linkedin_mysql4</resourceModel>
            </linkedin>
        </models>
        <resources>
            <customerattribute1500970550_setup>
                <setup>
                    <module>RedboxDigital_Linkedin</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customerattribute1500970550_setup>
            <customerattribute1500970550_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customerattribute1500970550_write>
            <customerattribute1500970550_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customerattribute1500970550_read>
        </resources>
    </global>
</config> 